/*GLOBAL STYLES*/
body {
    background: #f6f6f6;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.3;
    background: url(../images/sharon-mccutcheon-unsplash.jpg) no-repeat;
    background-size: cover;
}

/*MAIN*/

/*Links*/
a {
    color: #3c8453;
}

a:hover {
    color: #bcaa96;
    text-decoration: none;
}

footer a {
    color: #bcaa96;
}

footer a:hover {
    color: #3c8453;
}

.sm-list {
    list-style-type: none;
}

.btn {
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.btn:hover {
    background: #222;
    color: #3c8453;
}

/*FOOTER*/
footer {
    background: #222;
    color: #d3d4d6;

}